<footer>
    <p>&copy; 2025 MISPINES| Todos los derechos reservados</p>
</footer>

<style>
    footer {
        margin-top: 20px;
        padding: 15px;
        background-color: #009688;
        color: white;
        text-align: center;
        font-size: 14px;
    }
</style>
