<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Usuario</title>
</head>
<body>
  <h1>Editar Usuario</h1>
  <form action="/usuarios/editar/<%= usuario._id %>" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" name="nombre" value="<%= usuario.nombre %>" required>
    <br>
    <label for="tipo">Tipo de usuario:</label>
    <select name="tipo" required>
      <option value="admin" <%= usuario.tipo === 'admin' ? 'selected' : '' %>>Admin</option>
      <option value="no_admin" <%= usuario.tipo === 'no_admin' ? 'selected' : '' %>>No Admin</option>
    </select>
    <br>
    <button type="submit">Guardar Cambios</button>
  </form>
</body>
</html>
