<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
</head>
<body>
  <h2>Registro de Usuario</h2>
  <form action="/auth/registro" method="POST">
    <label>Nombre:</label>
    <input type="text" name="nombre" required>
    <br>
    <label>Contraseña:</label>
    <input type="password" name="password" required>
    <br>
    <label>Tipo:</label>
    <select name="tipo" required>
      <option value="admin">Admin</option>
      <option value="no_admin">No Admin</option>
    </select>
    <br>
    <button type="submit">Registrarse</button>
  </form>
</body>
</html>
